# Postgres section
SQLALCHEMY_HOST=
SQLALCHEMY_PORT=
SQLALCHEMY_USERNAME=
SQLALCHEMY_PASSWORD=
SQLALCHEMY_DATABASE_NAME=

# Redis section
REDIS_HOST=
REDIS_PORT=
REDIS_DB=

#Pytest section
TEST_URL=
PING_BACKOFF_TIMEOUT=

